* {
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #52357B, #5459AC, #648DB3, #B2D8CE);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: #FFF;
}





/* page.module.css */

.main {
  max-width: 600px;
  margin: 50px auto;
  /* background-color: #004030; */
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF9E5;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.15);
  font-family: "Segoe UI", sans-serif;
}

h2 {
  text-align: center;
  color: #DCD0A8;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #4A9782;
  border-radius: 8px;
  background-color: #003426;
  color: #FFF9E5;
  font-size: 16px;
}

input::placeholder {
  color: #DCD0A8;
}

button {
  padding: 10px 16px;
  background-color: #4A9782;
  color: #FFF9E5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #3e826e;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: #003426;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF9E5;
}

li button {
  background-color: transparent;
  color: #DCD0A8;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

li button:hover {
  color: #FFF9E5;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  color: #FFF9E5;
}

@media (max-width: 600px) {
  .main {
    margin: 20px;
    padding: 20px;
  }

  form {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}